training/datasets
extensions/silero_tts/outputs
extensions/elevenlabs_tts/outputs
extensions/sd_api_pictures/outputs
extensions/multimodal/pipelines
PygmalionAI_pygmalion-6b
repositories
torch-dumps
*pycache*
*/*pycache*
*/*/pycache*
venv/
.venv/
.vscode
.idea/
*.bak
*.ipynb
settings.yaml
notification.mp3
img_bot*
img_me*
prompts/[0-9]*
models/config-user.yaml

.DS_Store
Thumbs.db
/models
/.ipynb_checkpoints
